.box1 {
  margin: 0px 0px 0px 68px;
  padding-top: 50px;
  width: 2000px;
  height: 910px;
  /* height: 1000px; */
  background-color: #e71972 ;
  
  
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 350px 350px;
  grid-column-gap: 100px;
  grid-row-gap: 65px;
  justify-content: center;
  overflow: hidden;
}

.box {
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.lb {
  grid-area: 2 / 2 / 3 / 3;
  width: 1100px;
  border-radius: 10px;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  font-size: 40px;

}

.gral {
  grid-area: 1 / 1 / 2 / 1;
  width: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  height:765px;
 
}

.box2 {
  border-radius: 10px;
  color: #000;
  display: flex;
  padding: 20px 0 0 30px;
  font-size: 30px;
  
}

.box3 {
  border-radius: 10px;
  color: #fff;
  display: flex;
  padding: 20px 0 0 30px;
  font-size: 30px;
}

table{
  width:1000px;
  margin-left: 190px;
  align-content: center;
  color:#fff;
}

td{width:33.33%;text-align:left;}

thead{text-align: center;}

.tab{overflow: scroll;height: 250px;overflow-y: scroll;overflow-x: hidden;overflow-y: auto;}

.tab::-webkit-scrollbar{
  display: none;
}
.frame
{
  height: 750px;
  width: 450px;
  background-color: transparent;
  color:'white';
}
.score
{
  width:55px;
  margin-left: 105px;
    border: 5px solid black;
}


  