
/* .btn {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    margin-right:100px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .btn:hover, .dropdown:hover .btn {
    background-color: #0b7dda;
  } 
.drop{
  margin-left:1000px;
  margin-top:500px;
}


.btn {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    
  }
  
  .dropdown {
    position: absolute;
    display: inline-block;
    margin-right:100px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .btn:hover, .dropdown:hover .btn {
    background-color: #0b7dda;
  } */

  
  .courses{
    background-color: #094a5b;
    padding-left: 5%;
    padding-bottom: 27.4%;
    height: 100%;
    overflow: hidden
  } 
  
  .course-list-container {
    text-align: center;
    margin-top: 50px;
  }
  
  /* .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  } */
  
  .button-container {
    display: flex;
    flex-direction: column;
  }

  .button-container button {
    margin: 2%;
  } 